/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* UNIVERSAL SYTLES */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* NAVBAR STYLES */

nav {
    background-color: rgba(31, 32, 43, .55);
    font-family: 'Amatic SC', cursive;
    font-size: 1.7rem;
    padding: 0 48px;
    letter-spacing: 2px;
    width: 100%;
}

.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 100;    
}

.logo,
.nav-item a {
    text-decoration: none;
    color: #fff;
    padding: 0 32px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-item a:hover,
.logo:hover {
    text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 30px;
}

/* HERO STYLES */

.hero {
    background: url(../img/simon-matzinger-twukN12EN7c-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
    box-shadow: -5px -25px 50px 0 whitesmoke inset;
    display: flex;
    height: 900px;
    width: 100%;      
}

.hero:before { 
    background-color: rgba(192, 192, 192, .55);
    content: "";
    height: 900px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;   
}
  
.hero * {
    position: relative; 
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 540px;
}

.content p {
    background: rgba(255, 140, 0, .45);
    -webkit-box-shadow: 5px 5px 15px 31px rgba(255, 140, 0, 0.5); 
    box-shadow: 5px 5px 15px 31px rgba(255, 140, 0, 0.5);
    border-radius: 50%;
    color: #000;
    font-family: 'Amatic SC', cursive;
    font-weight: 600;
    font-size: 1.9em;
    line-height: 1.5em;
    padding: 50px 55px;
}

.content span {
    font-size: 2.3em;
}

/* ABOUT STYLES */

.about-wrapper {
    background-color: rgba(170, 143, 160, .45);
    height: 440px;
    width: 100%;
}

.about {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    justify-content: space-between;
    padding: 2em;  
}

.div-1, .div-2, .div-3 {
    align-items: center;
    color: #000;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    height: auto;
    justify-content: center;
    line-height: 1.8em; 
}

.about span,
.about a {
    color: #9D6479;
    font-family: 'Amatic SC', cursive;
    font-size: 1.7em; 
    font-weight: 700;
    text-decoration: underline; 
    letter-spacing: 2px;
}

.about a {
    font-size: 1.3em;
}

.about a:hover {
    opacity: 0.6;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media all and (min-width: 1200px) {
    .div-1, .div-2, .div-3 {
      flex-basis: 30%;
    }

    .div-1, .div-2 {
      border-right: 1px solid #555;
      padding-right: 30px;
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
